include ./layout

block content
	div.container
		p Welcome to the sales forecast application developed by Oleksii Ablitsov - fullstack javascript developer.
		p To develop this app I used:
		ol 
			li Backend:
				ul
					li NodeJS
					li Express
					li MongoDB
					li Mongoose
			li Front End
				ul
					li JQuery
					li Jade
					li Bootstrap
					li Less
					li HighCharts
		p Source code of the app can be reviewed at 
			a(href="https://github.com/partizanen69/sales-forecast-app") GitHub.