include ./layout

block content
	div.container
		p Welcome to the sales forecast application developed by Oleksii Ablitsov - fullstack javascript developer.
		p To develop this app I used:
		ol 
			li Backend: NodeJS, Express, MongoDB, Mongoose;
			li Front End: JQuery, Jade, Bootstrap, Less, HighCharts.
		p Source code of the app can be reviewed at 
			a(href="https://github.com/partizanen69/sales-forecast-app") GitHub.