#demo-table {
    width: auto;
    font-size: 12px;
    margin: 10px 0 0 10px;
    
    & td, th {
        width: 100px;
    }
    
    & td {
        text-align: right;
    }
    
    & th {
        text-align: center;
        vertical-align: middle;
    }
}
